<main>
    <form class="login" action="/upload" method="post" enctype="multipart/form-data">
        <h3> Upload your file </h3>
        <input name="file" type="file" placeholder="Select file to upload">
        <textarea name="desc" placeholder="Description for file"></textarea>
        <button> Upload </button>
        <a class="btn outline" href="/all"> Show all files </a>
    </form>
</main>